<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/js/userAuthentication.js}"></script>
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.css}">
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body class="bg-light">


<div class="navbar bg-gradient-purple-red text-light animated--grow-in">
    <div>
        <a href="/home" class="text-light btn-outline-light bg-gray-900 btn">Home</a>
        <a href="/todos" class="text-light btn-outline-light bg-gray-900 btn">Todos</a>
        <a href="/help" class="text-light btn-outline-light bg-gray-900 btn">Help</a>
    </div>
</div>

<div class="container animated--grow-in justify-content-center">

    <div class="pt-5">
        <div class="card border-dark">
            <h3 class="card-header">Login</h3>

            <div class="card-body bg-white">
                <form onsubmit="login(event)">

                    <div>
                        <label class="col-2" for="usernameTbx">Username</label>
                        <input type="text" name="username" id="usernameTbx">
                    </div>

                    <div>
                        <label class="col-2" for="passwordTbx">Password</label>
                        <input type="text" name="password" id="passwordTbx">
                    </div>

                    <div class="card-body p-0 px-sm-2">
                        <button class="card bg-gradient-purple-red text-light" type="submit">Submit</button>
                    </div>

                </form>
            </div>
            <p class="card-footer">Don't have an account? <a href="/register">Register</a>.</p>
        </div>
    </div>

</div>

</body>
</html>