<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo's</title>
    <script th:src="@{/JS/render.js}"></script>
    <script th:src="@{/JS/Util.js}"></script>
    <script th:src="@{/JS/ui-controller.js}"></script>
    <link rel="stylesheet" th:href="@{/CSS/sb-admin-2.css}">



</head>
<!--make a table in html and call the todos
 make a util class that will get the cookies for user
 with the cookies get the TODOs
 make an array and loop all todos into a table-->

<div class="navbar bg-gradient-purple-red text-light animated--grow-in justify-content-end mb-5">
    <div>
        <a href="/home" class="text-light btn-outline-light  animated--grow-in bg-gray-900 btn">Home</a>
        <a href="/todos" class="text-light btn-outline-light bg-gray-900 btn">Todos</a>
        <a href="/register" class="text-light btn-outline-light bg-gray-900 btn">Register</a>
        <a href="/help" class="text-light btn-outline-light bg-gray-900 btn">Help</a>
    </div>
</div>

<body class="bg-light">
<div class="container animated--grow-in justify-content-md-start pb-5">
    <h3>Your Todo's</h3>

    <table id="table" class="table bg-light" style="bg-color:var(--purple);">
        <thead>
        <tr class="">
            <th>Content</th>
            <th>Date</th>
            <th>Complete</th>
        </tr>
        </thead>
        <tbody id="myTable">
        </tbody>
    </table>

    <script>
        // Load todos after table has been loaded.
        window.addEventListener('DOMContentLoaded', function () {
            loadTodos(getCookies())
        });
    </script>

    <div class="flex flex-col w-screen h-full">
        <div class="flex space-x-5">
            <p>Add more Todo's?</p>
            <button onclick="addRow()" class="font-bold text-blue-400">Add</button>
            <button class="font-bold text-blue-400" onclick="saveTodo()">Save</button>
        </div>
    </div>

</div>


</body>
</html>